
html, body {
    color: rgb(136, 136, 136);
    outline: none;
    overflow: hidden auto;
    display: block;
    letter-spacing: 1px;
    background: rgb(236, 230, 232);
}

#title-name {
  cursor: text;
}

a {
  color: #777;
  text-decoration-color: #ccc;
}

h1 {
    font-family: 'neue_haas_grotesk_textmedium', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
    color: #000000;

}


p {
    display: block;
    flex: 2;
    margin: 0;
    unicode-bidi: isolate;
    font-family: 'neue_haas_grotesk_textmedium', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    color: #5d5a5d;
    letter-spacing: 1px;
    line-height: 1.6;

}

.wrapper-main {
    width: 55%;
    margin: auto; 
    padding-left: 20px;
    float: left;
    
}

.button-sigma {
    margin: auto;
    padding-top: 40px 
}

@media (max-width: 1000px) {
    
    .wrapper-main {
        width: 90%;
    }
}

.image img {
    box-shadow: 5px 5px 5px 3px #999;
}
 .my-button {
            background-color: #ce9d9e; 
            border: none; 
            color: white; 
            padding: 15px 32px; 
            text-align: center; 
            text-decoration: none; 
            display: inline-block; 
            font-size: 28px; 
            margin: 4px 0; 
            cursor: pointer;
            border-radius: 12px; 
            transition: background-color 0.3s ease, transform 0.3s ease; 
            position: relative; 
        }
      .my-button::after {
            content: ''; 
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        .my-button:hover {
            background-color: #f1e3e3; 
            color: #f1e3e3;
            transform: translateY(-2px); 
            opacity: 1;
        }

        .my-button:hover::after {
            content: '⟶'; 
            font-size: 45px;
            font-weight: bold;
            color: black; 
            opacity: 1;
        }

        .my-button span {
            transition: opacity 0.3s ease;
        }

        .my-button:hover span {
            display: none;
        }
#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 26px;
    background-color: rgb(236, 230, 232);
    display: flex;
    align-items: center; /* Align items vertically */
}

#linkedin-link,
#github-link {
    margin-right: 20px; /* Space between the icons */
}

#linkedin-link {
    display: block; /* Ensures the entire icon is clickable */
    width: 10px; /* Adjust the width as needed */
    height: 10px; /* Adjust the height as needed */
}

#github-link {
    display: block; /* Ensures the entire icon is clickable */
    width: 10px; /* Adjust the width as needed */
    height: 10px; /* Adjust the height as needed */
    padding-left: 20px;
}