body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;

}

p {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 2vw;
    right: 5vh;
    top: 5vh;
    transition: transform 0.3s ease;
}

p:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Center h1 vertically on the left */
h1 {
    position: absolute;
    top: 30vh;
    left: 20vh;
    transform: translateY(-50%);
    color: white;
    font-size: 10vw;
    font-family: 'Playfair Display', serif;
    transition: all 0.5s ease;
    letter-spacing: 0.05em;
    white-space: nowrap;
    cursor: pointer;
}

.audio-player {
    position: absolute;
    right: 15vw;
    top: 10vh; /* Adjusted to be 40vh from the top */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; /* Make the canvas clickable */
}

canvas#wave-visualizer {
    width: 70vh; /* Adjust for circular shape */
    height: 30vh; /* Adjust for circular shape */
    background-color: black;
    border: 2px solid black;
    border-radius: 50%; /* Make it a circle */
    position: relative;
}

#start-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Make sure it doesn't block clicks */
    z-index: 10; /* Ensure it is displayed above the canvas */
}

#subtitle-container {
    position: absolute;
    bottom: 25vh; /* Adjust the vertical position if needed */
    right: 0vw;  /* Move the subtitles 15vw from the left side */
    width: 60%;  /* Adjust this width depending on your needs */
    text-align: center;
    color: white;
    font-size: 2vw;  /* Ensure the font size is responsive */
}

.subtitle-line {
    opacity: 0; /* Hidden by default */
    transition: opacity 0.5s ease-in-out; /* Smooth fade for opacity */
}

.subtitle-line.active {
    opacity: 1; /* Full opacity for the active line */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

#timestamp-display {
    color: black;
}