body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;

}

p {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 2vw;
    right: 5vh;
    top: 5vh;
    transition: transform 0.3s ease;
}

p:hover {
    transform: scale(1.1);
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 30vh;
    left: 20vh;
    transform: translateY(-50%);
    color: white;
    font-size: 10vw;
    font-family: 'Playfair Display', serif;
    transition: all 0.5s ease;
    letter-spacing: 0.05em;
    white-space: nowrap;
    cursor: pointer;
}

.audio-player {
    position: absolute;
    right: 15vw;
    top: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; 
}

canvas#wave-visualizer {
    width: 70vh; 
    height: 30vh; 
    background-color: black;
    border: 2px solid black;
    border-radius: 50%; 
    position: relative;
}

#start-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    z-index: 10; 
}

#subtitle-container {
    position: absolute;
    bottom: 25vh; 
    right: 0vw; 
    width: 60%;  
    text-align: center;
    color: white;
    font-size: 2vw;  
}

.subtitle-line {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.subtitle-line.active {
    opacity: 1; 
    transition: opacity 0.5s ease-in-out; 
}

#timestamp-display {
    color: black;
}