body {
    background-color: #f1e3e3;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2b2727;
    color: #d5c1c1;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Geologica", "sans-serif";
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.left {
    width: 50%;
    text-align: left;
    font-weight: bold;
    padding-left: 10%;
    font-size: 25px;
}

.right {
    width: 50%;
    text-align: right;
    padding-right: 10%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}


@media (max-width: 600px) {
    .left-box, .right-box {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .left-box {
        margin-top: 20px;
    }
}
nav ul li {
    display: inline-block;
    margin-left: 10%;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #d5c1c1;
    text-decoration: none;
}

h1 {
    font-family: "Geologica", "sans-serif";
    font-size: 300%;
    font-weight: normal;
    padding-top: 1%;
    padding-left: 10.5%;
}

.progress-container {
    width: 100%;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: 0; 
    padding: 0; 
    z-index: 1000;
}

.progress-bar {
    height: 6px;
    background-color: #fff;
    width: 0;
}

@media only screen and (max-width: 1118px) {
    .right {
        flex-direction: column;
        align-items: flex-start;
    }

    .right {
        margin-top: 10px;
        text-align: right;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

.content {
    padding-top: 70px; 
}


@media (max-width: 600px) {
    .left-box, .right-box {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .left-box {
        margin-top: 20px;
    }
}

.timeline-container {
    position: relative;
    width: 90%;
    margin: 50px auto;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.entry {
    position: relative;
    display: flex;
    width: 80%;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin: 125px 0; 
}

.entry.visible {
    opacity: 1;
    transform: translateY(0);
}

.entry.left .content {
    text-align: left;
    order: 2; 
}

.entry.right .content {
    text-align: right;
    order: 1; 
}

.marker {
    width: 60px; 
    height: 60px; 
    background: #ceb1be;
    border-radius: 50%;
    border: 6px solid white; 
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,0.75); 
    position:absolute;
    left: 50%; 
    transform: translateX(-49%) translateY(-49%); 
    z-index: 1; 
}

.timeline:before {
    content: '';
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: white;
    z-index: 0; 
}

h3 {
    font-size: 25px
}

h3, img {
    margin: 0; 
}

img {
    width: 100%; 
    max-width: 300px;
}

.entry.left {
    justify-content: flex-end; 
}

.entry.right {
    justify-content: flex-start;
}

@media (max-width: 1000px) {
    .timeline {
        align-items: flex-start; 
    }

    .entry {
        flex-direction: row; 
        margin: 50px 0; 
    }

    .entry.left .content {
        margin-right: 32%;
    }
    
    .entry.right .content {
        text-align: left; 
        order: 2; 
        margin-left: 35%; 
    }

    .marker {
        left: 0; 
        transform: translateX(80%) translateY(-50%); 
    }

    .timeline:before {
        left: 0; 
        transform: translateX(1500%); 
    }
}

@media (max-width: 600px) {
    .timeline {
        align-items: flex-start; 
    }

    .entry {
        flex-direction: row; 
        margin: 50px 0; 
    }

    .entry.left .content {
        padding-left: 25%;
        width: 100%;
        height: auto;
    }
    
    .entry.right .content {
        text-align: left; 
        order: 2;
        margin-left: 35%; 
        width: 100%;
        height: auto;
    }
    
    .entry.right .content,
    .entry.left .content {
        transform: translateY(-36%);
    }
    
    .marker {
        left: 0; 
        transform: translateX(-7%) translateY(-70%); 
    }

    .timeline:before {
        left: 0; 
        transform: translateX(450%); 
    }
    
    h1 {
        padding-top: 10%;
    }
    
    nav ul li {
        margin: -4px;
    }
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #d5c1c1;
}
